* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    padding: 4px;
    color: gray;
}

body {
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fkios-images.netlify.app%2F51-the-best-15-background-image-body-style-hd-wallpapers&psig=AOvVaw1Ick1Ww0aso4jQ_1t3MoiE&ust=1607114689737000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKC4qfPWsu0CFQAAAAAdAAAAABAD");
}

nav {
    position: fixed;
    width: 100%;
    z-index: 9;
    background: white;
    padding: 20px 0;
    border-bottom: solid 1px #80808069;
}

.desktop-menu li {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

nav .desktop-menu {
    display: none;
}

@media(min-width: 992px) {
    .burger-menu {
        display: none;
    }
    nav .desktop-menu {
        display: block;
    }
    .mobile-menu {
        display: none;
    }
}

.jumbotron {
    background-image: url('https://images.pexels.com/photos/34153/pexels-photo.jpg?cs=srgb&dl=pexels-negative-space-34153.jpg&fm=jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    max-width: 100%;
}

.jumbotron .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgb(0 0 0 / 24%);
}

.jumbotron-content {
    padding: 50px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-photo {
    box-shadow: -7px -4px 24px -6px rgba(0, 0, 0, 0.64);
    border-radius: 150px;
}

.box {
    padding: 8px;
    border-radius: 5px;
    background: white;
}

.about-me {
    margin-top: 100px;
    width: 60%;
    margin-left: 20%;
}

.info-label {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
    font-weight: 500;
    color: #5f5a5ae8
}

.info-value {
    padding-left: 5px;
    color: #a7a7a7;
    font-weight: 400;
}

.mobile-menu li {
    display: inline-block;
    padding-left: 50px;
}

.my-services {
    padding: 30px 0;
}

.porfafolio {
    padding: 30px 0;
}

.education {
    padding: 30px 0;
}

.myservices-1,
.myservices-2,
.myservices-3,
.myservices-4,
.myservices-5,
.myservices-6 {
    height: 400px;
    background-size: cover;
    box-shadow: -7px -4px 24px -6px rgba(0, 0, 0, 0.64);
}

.box-description {
    border: solid 1px #0000004d;
    padding: 10px;
}

.myportafolio-1,
.myportafolio-2,
.myportafolio-3,
.myportafolio-4,
.myportafolio-5,
.myportafolio-6 {
    height: 200px;
    background-size: cover;
    box-shadow: -7px -4px 24px -6px rgba(0, 0, 0, 0.64);
}

.myeducation-1,
.myeducation-2,
.myeducation-3,
.myeducation-4,
.myeducation-5,
.myeducation-6 {
    height: 200px;
    background-size: cover;
    box-shadow: -7px -4px 24px -6px rgba(0, 0, 0, 0.64);
}

.btn-type {
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Lobster', cursive;
}

.text-education {
    font-family: 'Lobster', cursive;
}

.font-family-lobster {
    font-family: 'Lobster', cursive;
}

.btn-white {
    background-color: white;
}

.myservices-1 {
    background-image: url('https://images.pexels.com/photos/574071/pexels-photo-574071.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    border-radius: 5px;
}

.myservices-2 {
    background-image: url('https://images.pexels.com/photos/905163/pexels-photo-905163.jpeg?cs=srgb&dl=pexels-dominika-roseclay-905163.jpg&fm=jpg');
    border-radius: 5px;
}

.myservices-3 {
    background-image: url('https://images.pexels.com/photos/185576/pexels-photo-185576.jpeg?cs=srgb&dl=pexels-timur-saglambilek-185576.jpg&fm=jpg');
    border-radius: 5px;
}

.myservices-4 {
    background-image: url('https://images.pexels.com/photos/5472303/pexels-photo-5472303.jpeg?cs=srgb&dl=pexels-ryutaro-tsukata-5472303.jpg&fm=jpg');
    border-radius: 5px;
}

.myservices-5 {
    background-image: url('https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?cs=srgb&dl=pexels-negative-space-160107.jpg&fm=jpg');
    border-radius: 5px;
}

.myservices-6 {
    background-image: url('https://images.pexels.com/photos/1616403/pexels-photo-1616403.jpeg?cs=srgb&dl=pexels-zaksheuskaya-1616403.jpg&fm=jpg');
    border-radius: 5px;
}

.myportafolio-1 {
    background-image: url('https://images.pexels.com/photos/267399/pexels-photo-267399.jpeg?cs=srgb&dl=pexels-pixabay-267399.jpg&fm=jpg');
    border-radius: 5px;
}

.myportafolio-2 {
    background-image: url('https://images.pexels.com/photos/34407/pexels-photo.jpg?cs=srgb&dl=pexels-freestocksorg-34407.jpg&fm=jpg');
    border-radius: 5px;
}

.myportafolio-3 {
    background-image: url('https://images.pexels.com/photos/5077039/pexels-photo-5077039.jpeg?cs=srgb&dl=pexels-cottonbro-5077039.jpg&fm=jpg');
    border-radius: 5px;
}

.myportafolio-4 {
    background-image: url('https://images.pexels.com/photos/174938/pexels-photo-174938.jpeg?cs=srgb&dl=pexels-energepiccom-174938.jpg&fm=jpg');
    border-radius: 5px;
}

.myportafolio-5 {
    background-image: url('https://images.pexels.com/photos/1482061/pexels-photo-1482061.jpeg?cs=srgb&dl=pexels-deepanker-verma-1482061.jpg&fm=jpg');
    border-radius: 5px;
}

.myportafolio-6 {
    background-image: url('https://images.pexels.com/photos/4567339/pexels-photo-4567339.jpeg?cs=srgb&dl=pexels-ian-panelo-4567339.jpg&fm=jpg');
    border-radius: 5px;
}

.myeducation-1 {
    background-image: url('https://images.pexels.com/photos/207662/pexels-photo-207662.jpeg?cs=srgb&dl=pexels-pixabay-207662.jpg&fm=jpg');
    border-radius: 5px;
}

.myeducation-2 {
    background-image: url('https://images.pexels.com/photos/289738/pexels-photo-289738.jpeg?cs=srgb&dl=pexels-pixabay-289738.jpg&fm=jpg');
    border-radius: 5px;
}

.myeducation-3 {
    background-image: url('https://images.pexels.com/photos/1122865/pexels-photo-1122865.jpeg?cs=srgb&dl=pexels-suzy-hazelwood-1122865.jpg&fm=jpg');
    border-radius: 5px;
}

.myeducation-4 {
    background-image: url('https://images.pexels.com/photos/415071/pexels-photo-415071.jpeg?cs=srgb&dl=pexels-pixabay-415071.jpg&fm=jpg');
    border-radius: 5px;
}

.myeducation-5 {
    background-image: url('https://images.pexels.com/photos/5946/books-yellow-book-reading.jpg?cs=srgb&dl=pexels-kaboompics-com-5946.jpg&fm=jpg');
    border-radius: 5px;
}

.myeducation-6 {
    background-image: url('https://images.pexels.com/photos/545062/pexels-photo-545062.jpeg?cs=srgb&dl=pexels-burst-545062.jpg&fm=jpg');
    border-radius: 5px;
}

.line-separetion {
    margin-top: 8%;
}

.my-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    float: left;
}

.my-description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.title-effect {
    font-family: inherit;
    font-size: 44px;
    font-weight: 900;
    color: #ccc;
    opacity: .8;
}

.profile-photo {
    width: 100%;
    height: auto;
}

.subtitle {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
    font-family: inherit;
    line-height: 1.1;
    color: inherit;
}

.description {
    line-height: 1.8;
    margin: 0;
    font-size: 14px;
    color: #7e7e7e;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
}

.inherit-text {
    font-family: inherit;
}

.description {
    margin-top: 15px;
}

.text-white {
    color: white;
}

.text-center {
    text-align: center;
}

.position-relative {
    position: relative;
}

.padding {
    padding: 20px;
}

.display-inline-block {
    display: inline-block;
}

.margin-right {
    margin-right: 40%;
}

.margin-top {
    margin-top: 100px;
}

.display-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-top {
    margin-top: 20px;
}

.space-between {
    justify-content: space-between;
}

.hide {
    display: none;
}

.style-list {
    list-style: none;
}

.font-bold {
    font-weight: bold;
}

.padding-top {
    padding-top: 10px;
}

.margin-right-icon {
    margin-right: 10px;
}

.icon {
    color: gray;
}

.icon:hover {
    color: green;
}

.margin-left {
    margin-left: 50px;
}

.color-white {
    color: white;
}

.margin-right-copy {
    margin-right: 50px;
}